<div class="divider"></div>
<div class="row container">

    <form class="col s6 varblue" id="commentForm" style="padding-left:3rem">
        <div class="col card varblack">
            <h5> Make Your Comment </h5>
        </div>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s10 varblack">
                        <input placeholder="Comment" id="newComment" data-id={{blogPosts.id}} type="text"
                            class="validate">
                        <label for="Comment">Comment</label>
                    </div>
                </div>
                <button class="btn waves-effect waves-light varblack" type="submit" name="action">
                    Submit
                </button>
            </form>
        </div>
</div>

<script src="/js/add-Comment.js"></script>