<div class="divider"></div>
<nav class="nav-extended varpurp2">
    <div class = "varblue" style="padding:1rem; padding-top:0.75rem">
        <a href="/" class="waves-effect waves-light btn-large  varwhite-t varblack" >Home Page</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger varwhite-t varblack"><i class="material-icons">Login/Logout</i></a>
        <a href="/" data-target="mobile-demo" class="sidenav-trigger varwhite-t varblack"><i class="material-icons">Login</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">

            <li><a href="/blogForm"><button type="submit" name="action" class="waves-effect waves-light btn-large varwhite-t varblack"\\
                        style="font-weight:bold; margin-left:20px; "> New Post</button></a></li>
            <li><a href="/dashboard" style="font-weight:bold; margin-left:20px; " class="waves-effect waves-light btn-large varwhite-t varblack">Previous Posts</a></li>

            {{#if logged_in}}
            <li><a class="logout waves-effect waves-light btn-large varwhite-t varblack" style="font-weight:bold; margin-left:20px; ">Logout</a></li>
            {{else}}
            <li><a class="login waves-effect waves-light btn-large varwhite-t varblack" style="font-weight:bold; margin-left:20px; ">Login</a></li>
            {{/if}}
        </ul>
    </div>
