<div class="divider"></div>
<div class="row"></div>
<div class="row container" >
  <form class="col s10 postForm varblue"  >

    <div class="row varblack" style="padding:1rem; margin:1rem" >
      <h2>Create a Post</h2>
      <div class="input-field col s6 ">
        <input placeholder="Topic" type="text" class="" id="topicPost">
        <label for="Topic">Topic</label>
      </div>
    </div>

    <div class="row varblack" style="padding:1rem; margin:1rem">
      <div class="input-field col s12 ">
        <input placeholder="Content" type="text" class="" id="contentPost">
        <label for="Content">Content</label>
      </div>
    </div>
    
      <button class="logout varblack waves-effect waves-light btn-large" style="font-weight:bold;  margin:1rem" type="submit" name="action">Submit here</button>
  </form>

  <script src="/js/add-blog-post.js"></script>